* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}

body {
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../styles/img/naval.png");
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    background-position: center;
    background-repeat: no-repeat;
}

/* Contenedor del formulario */
.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    
}

/* Título */
h2 {
    margin-bottom: 30px;
    color: #050507;
    text-align: center;
}

/* Grupo de inputs */
.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
}


input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

input:focus,
select:focus {
    outline: none;
    border-color: #007bff;
}

/* Botón de confirmacion */
button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
