<div class="card custom-card " id="cardBarcos">
    <div class="card-body">
      <form>
        <div class="form-group">
          <label class="text-center w-100">Barcos</label>
          <select class="form-select text-center" id="tamañoBar" required>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>  
          </select>
          <input
            type="color"
            id="colorBarcos"
            class="form-control mb-2 color"
            value="#000000"
          />
        </div>
      </form>
    </div>
  </div>

