<form id="loginForm">
  <h2>Batalla Naval</h2>

  <div class="input-group">
    <label for="nickname">Nickname:</label>
    <input type="text" id="nickname" required value="Utreth" />
  </div>

  <div class="input-group">
    <label for="country" class="mt-1">Selecciona tu país:</label>
    <select class="form-select ms-3" id="country" required>
      <option value="">Selecciona un país</option>
    </select>
  </div>
</form>
<button type="submit" class="btn btn-primary mb-5" id="btnIniciar">
  Iniciar partida
</button>
