<form id="loginForm" class="container mt-5">
  <h2>Batalla Naval</h2>

  <div class="input-group">
    <label for="nickname">Nickname:</label>
    <input type="text" id="nickname" required value="Antuag" />
  </div>

  <div class="input-group">
    <label for="country" class="mt-1">Selecciona tu país:</label>
    <select class="form-select ms-3" id="country" required>
      <option value="">Selecciona un país</option>
    </select>
  </div>
  
</form>
<button type="submit"  id="btnIniciar">
  Iniciar partida
</button>

<button type="submit" id="btnRanking">
  Ver ranking
</button>

