<div class="containerOptions bodyOpciones">
  <h1>Batalla Naval</h1>
  <div class="options-container">
    <div class="options">
      <div class="card custom-card tamañoColor mb-2">
        <div class="card-body">
          <form>
            <div class="form-group">
              <label class="text-center w-100">Tamaño del tablero</label>
              <input
                type="number"
                id="inTamaño"
                class="form-control text-center w-100"
                placeholder="Ingrese un tamaño"
                value="10"
              />
            </div>
          </form>
        </div>
      </div>

      <div class="card custom-card geoposicion mb-2">
        <div class="card-body">
          <form>
            <div class="form-group">
              <label class="text-center w-100 mb-2">Geoposicion</label>
              <input
                type="text"
                id="geoPosicion"
                class="form-control text-center w-100 mb-2"
                placeholder="Seleccione una geoposicion"
                value="Fairbanks"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="button-container text-center">
    <button id="btnConfirmar" type="submit" class="btn btn-primary btn-block">
      Confirmar
    </button>
  </div>
</div>
